.mainConteiner { align-items: center; display: flex; flex-direction: column; justify-content: center; padding-top: 30px; }

.mainConteiner form { width: 70%; }

.copiesBtn { display: flex; align-items: flex-start; margin: 10px 0; }

.copiesBtn label { margin-right: 10px; }

.addMedBtn { align-items: center; display: flex; justify-content: space-between; width: 70%; }

.addMedBtn h4 { margin: 20px 0; }

.addMedBtn button { border-radius: 12px; }

.medForm { margin: 30px 0; }

.medFormGroup { display: flex; }

.formRow { width: 70%; margin-right: 5px; }

.btnConteiner { margin: 10px 0; }

.btnConteiner button { margin-right: 10px; }

.medCard  { width: 60%; height: 50px; margin: 6px 0; }

.medCardBody { align-items: flex-start; display: flex; justify-content: space-between; }

.prescriptionPreviewHeader { align-items: center; display: flex; font-size: 24px; justify-content: space-around; width: 20%; }

.prescriptionPreviewBody { display: flex; align-items: center; justify-content: center; }

.prescriptionPreviewFooter { display: flex; align-items: center; justify-content: flex-start; }

.prescriptionPreviewFooter p { font-size: 12px; font-style: italic; }

